body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
  background-image: url("skulls.png");
}

p {
  background-color: FFF;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 500px;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
